
body {
    background-color: lightblue;
}


h1 {
    text-align: center;
    color: darkblue;
}

h2 {
    text-align: center;
    color: darkred;
}

p {
    font-family: verdana;
    font-size: 22px;
}