body {
    background-color: #FFF8DC ;
    font-family: Calibri ;
    font-size: 100% ;
}

h1 {
    font-size: 200% ;
    color: #778899 ;
    text-align: left ;
}

h2 {
    font-size: 120% ;
    color: #2F4F4F ;
    text-align: left ;
}

a:link {
    color: Lavender;
    text-decoration: underline;
}
a:visited {
    color: gray;
}
a:active {
    color:IndianRed;
}
a:hover {
    color: BurlyWood;
    text-decoration: none;
}