body {
    background-color: #FFF8DC ;
    font-family: Calibri ;
    font-size: 100% ;
    text-align : justify ;
    max-width: 80% ;
}

h1 {
    font-size: 200% ;
    color: #778899 ;
    text-align: center ;
}

h2 {
    font-size: 120% ;
    color: #2F4F4F ;
    padding-left: 15px;
}

